{% extends "base.html" %}
{% block content %}

<article class="add-recipe-container">
    <section class="row justify-content-center">
        <div class="col-lg-8">

            <h2>Add Recipe</h2>

            <form method="post" action="{{ url_for('add_recipe') }}">
                <!-- Recipe Name -->
                <div class="mb-3">
                    <label for="recipe_name" class="form-label">Recipe Name</label>
                    <input type="text" class="form-control" id="recipe_name" name="recipe_name" required>
                </div>

                <!-- Cuisine Type -->
                <div class="mb-3">
                    <label for="cuisine_name" class="form-label">Cuisine Type</label>
                    <select class="form-select" id="cuisine_name" name="cuisine_name" required>
                        {% for cuisine in cuisines %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#addCuisineModal" aria-label="Add cuisine">
                        <i class="fas fa-plus"></i> <!-- Font Awesome plus icon -->
                    </button>
                </div>

                <!-- Ingredients -->
                <div class="mb-3">
                    <label for="ingredients" class="form-label">Ingredients</label>
                    <textarea class="form-control" id="ingredients" name="ingredients" rows="3" required></textarea>
                </div>

                <!-- Preparation Steps -->
                <div class="mb-3">
                    <label for="preparation_steps" class="form-label">Preparation Steps</label>
                    <textarea class="form-control" id="preparation_steps" name="preparation_steps" rows="5"
                        required></textarea>
                </div>

                <!-- Required Tools -->
                <div class="mb-3">
                    <label for="required_tools" class="form-label">Required Tools</label>
                    <select id="required_tools" name="required_tools[]" multiple class="form-select selectpicker"
                        multiple data-live-search="true">
                        <option value="" disabled selected>Select Tool(s)</option>
                        {% for tool in tools %}
                        <option value="{{ tool.id }}">{{ tool.tool_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#addToolModal" aria-label="Add Tools">
                        <i class="fas fa-plus"></i> <!-- Font Awesome plus icon -->
                    </button>
                </div>
                <div id="selectedToolsContainer">
                    <p id="selectedToolsList"></p>
                </div>

                <!-- Image Link -->
                <div class="mb-3">
                    <label for="image_link" class="form-label">Image Link</label>
                    <input type="text" class="form-control" id="image_link" name="image_link" required>
                </div>

                <button type="submit" class="btn btn-primary b-margin">Add Recipe</button>
            </form>

        </div>
    </section>
</article>
<!-- Add Cuisine Modal -->
<aside class="modal fade" id="addCuisineModal" tabindex="-1" role="dialog" aria-labelledby="addCuisineModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title" id="addCuisineModalLabel">Add Cuisine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>
            <section class="modal-body">
                <form method="post" action="{{ url_for('add_cuisine') }}">
                    <div class="mb-3">
                        <label for="cuisine_name" class="form-label">Cuisine Name:</label>
                        <input type="text" class="form-control" id="cuisine_name" name="cuisine_name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Cuisine</button>
                </form>
            </section>
        </div>
    </div>
</aside>
<!-- Add Tool Modal -->
<aside class="modal fade" id="addToolModal" tabindex="-1" role="dialog" aria-labelledby="addToolModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title" id="addToolModalLabel">Add Tool</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>
            <section class="modal-body">
                <form method="post" action="{{ url_for('add_tool') }}">
                    <div class="mb-3">
                        <label for="tool_name" class="form-label">Tool Name:</label>
                        <input type="text" id="tool_name" name="tool_name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand_name" class="form-label">Brand Name:</label>
                        <select id="brand_name" name="brand_name" class="form-control" required>
                            <option value="Any">Any</option>
                            <option value="Kitchen Aid">Kitchen Aid</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Add Tool</button>
                </form>
            </section>
        </div>
    </div>
</aside>

{% endblock %}
