{% extends "base.html" %}
{% block content %}
<section class="manage-data">
    <h1>Manage Cuisines and Tools</h1>

    <!-- Add Cuisine Modal -->
    <div class="modal fade" id="addCuisineModal" tabindex="-1" role="dialog" aria-labelledby="addCuisineModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCuisineModalLabel">Add Cuisine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('add_cuisine') }}">
                        <div class="mb-3">
                            <label for="cuisine_name" class="form-label">Cuisine Name:</label>
                            <input type="text" class="form-control" id="cuisine_name" name="cuisine_name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Cuisine</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Tool Modal -->
    <div class="modal fade" id="addToolModal" tabindex="-1" role="dialog" aria-labelledby="addToolModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToolModalLabel">Add Tool</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('add_tool') }}">
                        <div class="mb-3">
                            <label for="tool_name" class="form-label">Tool Name:</label>
                            <input type="text" id="tool_name" name="tool_name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="brand_name" class="form-label">Brand Name:</label>
                            <select id="brand_name" name="brand_name" class="form-control" required>
                                <option value="Any">Any</option>
                                <option value="Kitchen Aid">Kitchen Aid</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Tool</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCuisineModal">
        Add Cuisine
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToolModal">
        Add Tool
    </button>
    <br>
    <h2>Cuisines</h2>
    <ul>
        {% for cuisine in cuisines %}
        <li>
            <a href="#" data-toggle="modal" data-target="#editCuisineModal{{ cuisine.id }}"><i
                    class="fas fa-edit"></i></a> <!-- Edit icon -->
            <a href="#" data-toggle="modal" data-target="#deleteCuisineModal{{ cuisine.id }}"><i
                    class="fas fa-trash"></i></a> <!-- Delete icon -->
            <p>{{ cuisine.cuisine_name }}</p>

            <!-- Edit Cuisine Modal -->
            <div class="modal fade" id="editCuisineModal{{ cuisine.id }}" tabindex="-1" role="dialog"
                aria-labelledby="editCuisineModalLabel{{ cuisine.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editCuisineModalLabel{{ cuisine.id }}">Edit Cuisine</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Edit Cuisine Form -->
                            <form action="{{ url_for('edit_cuisine', cuisine_id=cuisine.id) }}" method="post">
                                <div class="mb-3">
                                    <label for="cuisine_name{{ cuisine.id }}" class="form-label">Cuisine Name:</label>
                                    <input type="text" id="cuisine_name{{ cuisine.id }}" name="cuisine_name"
                                        value="{{ cuisine.cuisine_name }}" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Cuisine Modal -->
            <div class="modal fade" id="deleteCuisineModal{{ cuisine.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteCuisineModalLabel{{ cuisine.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteCuisineModalLabel{{ cuisine.id }}">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the cuisine "{{ cuisine.cuisine_name }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('delete_cuisine', cuisine_id=cuisine.id) }}" method="post">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- List of Tools -->
    <h2>Tools</h2>
    <ul>
        {% for tool in tools %}
        <li>
            <a href="#" data-toggle="modal" data-target="#editToolModal{{ tool.id }}"><i class="fas fa-edit"></i></a>
            <!-- Edit icon -->
            <a href="#" data-toggle="modal" data-target="#deleteToolModal{{ tool.id }}"><i class="fas fa-trash"></i></a>
            <!-- Delete icon -->
            <p>{{ tool.tool_name }} (Brand: {{ tool.brand_name }})</p>
            {{ tool.tool_name }} (Brand: {{ tool.brand_name }})
            <!-- Edit Tool Modal -->
            <div class="modal fade" id="editToolModal{{ tool.id }}" tabindex="-1" role="dialog"
                aria-labelledby="editToolModalLabel{{ tool.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editToolModalLabel{{ tool.id }}">Edit Tool</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Edit Tool Form -->
                            <form action="{{ url_for('edit_tool', tool_id=tool.id) }}" method="post">
                                <div class="mb-3">
                                    <label for="tool_name{{ tool.id }}" class="form-label">Tool Name:</label>
                                    <input type="text" id="tool_name{{ tool.id }}" name="tool_name"
                                        value="{{ tool.tool_name }}" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="brand_name{{ tool.id }}" class="form-label">Brand Name:</label>
                                    <select id="brand_name{{ tool.id }}" name="brand_name" class="form-control"
                                        required>
                                        <option value="Any">Any</option>
                                        <option value="Kitchen Aid">Kitchen Aid</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Tool Modal -->
            <div class="modal fade" id="deleteToolModal{{ tool.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteToolModalLabel{{ tool.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteToolModalLabel{{ tool.id }}">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the tool "{{ tool.tool_name }}" (Brand: {{
                                tool.brand_name
                                }})?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('delete_tool', tool_id=tool.id) }}" method="post">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}